body {
  text-align: center;
  font-size: 16px;
  font-family: courier;
  color: #595241;
}

/* 
Color Palette
#595241 - muddy gray
#376F6C - dark blue-green
#E96E33 - orange
#141414 - paint black
*/

header {
	position: fixed;
	width: 100%;
	top: 0;
	background-color: white;
}

section {
	margin-top: 200px;
}

#logo {
	font-size: 3em;
	color: #E96E33;
	margin: 0;
	padding: 9px 0 0 0;
 	font-family: 'Shadows Into Light';
 	text-decoration: underline;
}

#tagline {
	font-size: 1.2em;
	font-color: #595241;
	margin: 0;
	padding: 5px;
}

table {
	table-layout: fixed;
    margin: 0 auto;
}

td a {
	text-decoration: none;
	color: black; /*#E96E33*/
}

td a:visited {
	color: black; /*#E96E33*/
}

td {
	box-sizing: border-box;
	float: left;
	display: inline-block;
	width: 110px;
	padding: 2px;
	margin: 2px;
  	border-radius: 5px;
  	border: #E96E33 1px solid;
  	color: white; /*#E96E33*/
  	padding-top: 5px;
  	height: 30px;
  	font-size: 10px;
  	background-color: #E96E33;
  	cursor: pointer;
}

td:first-child:hover {
	opacity: 0.5;

}

td+td {
  	color: white; /*#376F6C*/
  	background-color: #444;
}

td+td:hover {
	opacity: 0.5;
}

#showall {
	margin: 10px auto;
}

.input-style {
	border: #E96E33 double 3px;
  	font-family: courier;
  	font-weight: bold;
  	text-align: center;
}

#search {
  	color: #376F6C;
  	font-size: 1.8em;
}

#back-btn {
	color: red;
	cursor: pointer;
}

::-webkit-input-placeholder {
  color: #DDD;
  font-size: 0.7em;
  padding-top: 10px;
}

#candoers-table {
    width:70%;
    margin-top: 50px; 
    margin-left:15%; 
    margin-right:15%;
}